:root{
	
	--mainColor: rgb(163, 26, 156);
  --secondaryColor: rgb(146, 74, 140);


	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg: rgb(190, 16, 176);
  --previewShadow: rgb(107, 0, 98);
  
	--buttonColor: rgb(211, 96, 201);
}