{% extends 'port/layout.html' %}
{% load static %}
{% block title %}Add Project To Collection{% endblock title%}
{% block body %}
<div class="nav-wrapper">

  <!-- Link around dots-wrapper added after tutorial video -->
  <a href={% url 'homepage' %}>
    <div class="dots-wrapper">
      <div id="dot-1" class="browser-dot"></div>
      <div id="dot-2" class="browser-dot"></div>
      <div id="dot-3" class="browser-dot"></div>
    </div>
  </a>

  <ul id="navigation">
    <li><a href={% url 'contact' %}>Contact</a></li>
  </ul>
</div>
<h3>Add a New Project</h3>
<form action = {% url 'new_project' %} method = "POST" enctype = 'multipart/form-data' autocomplete="off">
  {% csrf_token %}
  <input type = 'text' name = 'title' placeholder = 'Enter title'/><br>
  <input type = 'text' name = 'description' placeholder = 'Description'/><br>
  <input type="hidden" name="description" class = 'description'>
  <!-- <textarea name = 'long_description' placeholder = 'Long description (Not Compulsory)'></textarea> -->
  <div id = 'long_description'></div>
  <input type = 'text' name = 'github_url' placeholder = 'GitHub URL'/><br>
  <input type = 'text' name = 'live_url' placeholder = "LIVE URL"/><br>
  <input type = 'file' accept = 'image/*' placeholder = 'Upload Main Image' name = 'main_picture'/><br>
  <input type = 'file' accept = 'image/*' placeholder = "Upload other images" name = 'other_pictures'/ multiple><br>
  <button type = 'submit'>Submit</button>
</form>
<script>
  const descriptionFormField = document.querySelector('.description');
  ClassicEditor
    .create(document.querySelector('#long_description'))
    .catch(error => console.error(error));

  document.querySelector('.ck-content').addEventListener('input', event => descriptionFormField.value  = event.target.innerHTML)
</script>
<script type = 'text/javascript' src = {% static 'script.js'%}></script>
{% endblock body %}
{% block style %}
<style>
    h3{
      text-align: center;
      text-transform: uppercase;
      font-family: monospace;
    }
		body{
			background: var(--secondaryColor)
		}
		.nav-wrapper{
			position: fixed;
			width: 100%;
			top: 0;
			z-index:100;
			height: 80px;
		}
		#navigation{
			margin-right: 40px;
			font-size: 1.6rem;
		}
		body{
			padding-top: 50px;
		}
  form{
    width:70%;
    margin: auto;
    margin-top:5%;
  }
  input, textarea, button{
    height: 40px;
    width: 100%;
    border: 3px solid var(--borderColor);
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    outline: none;
    font-size: 1.2rem;
  }
  textarea{
    height: 150px;
  }
  input:focus{
    border-style: dashed;
  }
  button{
    background-color: var(--buttonColor);
    width: 100%;
    height: 50px;
    letter-spacing: 1.3rem;
    color: white;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
  button:hover, button:active{
    color: var(--buttonColor);
    background-color: white;
  }
  @media screen and (max-width: 768px){
			body{
				padding-top: 60px;
			}
			.nav-wrapper{
				height: 60px;
			}
			#navigation{
				font-size: 1.3rem;
				margin-right: 10px;
      }
      form{
        width: 80%;
      }
      input, textarea{
        box-sizing: border-box;
        height: 50px;
      }
      textarea{
        height: 150px;
      }
		}
</style>
{% endblock style %}