{% extends 'port/layout.html' %}
{% load static %}
{% block title %}Jeremiah Lena{% endblock title%}
{% block body %}

<body>

	<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>Hi, I'm Jeremiah Lena</h1>
			</div>


			<div class="intro-wrapper">
				<div class="nav-wrapper">

					<a href="index.html">
						<div class="dots-wrapper">
							<div id="dot-1" class="browser-dot"></div>
							<div id="dot-2" class="browser-dot"></div>
							<div id="dot-3" class="browser-dot"></div>
						</div>
					</a>


					<ul id="navigation">
						<li><a href={% url "contact" %}>Contact</a></li>
					</ul>
				</div>

				<div class="left-column">
					<img id="profile_pic" src={% static 'images/jerry.jpg' %}>
					<div class="profile_pic"></div>
					<h5 style="text-align: center;line-height: 0;">Personalize Theme</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>

					<p id="settings-note">*Theme settings will be saved for<br>your next vist</p>
				</div>

				<div class="right-column" style='position: relative;'>

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>Who I Am</h3>
							<img src="{% static 'images/programming.gif' %}" alt="" class='gif'>
							<p>
								I'm a frontend web developer. I love crafting beautiful website and mobile applications.
								I strongly believe that products should be built with the users in mind and that every
								part of the product should reflect that, backend and frontend.
							</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="s2">
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h4>More About Me</h4>

					<p>I build new projects just to tickle my brain and love teaching others how they're made.</p>

					<p>I have a reasonable amount of experience building web and mobile applications that solves
						problems and help people. I'm always looking out for opportunities to be better at my craft.
					</p>

					<hr>

					<h4>TOP EXPERTISE</h4>

					<p>Frontend developer with primary focus on React, React Native & JavaScript</p>

					<div id="skills">
						<ul>
							<li>React</li>
							<li>React Native</li>
							<li>Vanilla JavaScript</li>
							<li>Tailwind CSS</li>
							<li>Redux Toolkit</li>
						</ul>

						<ul>
							<li>Django</li>
							<li>Git</li>
							<li>GitHub</li>
							<li>AGILE</li>
						</ul>

					</div>

				</div>


				<div class="social-links">
					<img id="social_img" src={% static 'images/desktop.jpg' %}>
					<h3>Find me on Facebook & Twitter</h3>
					<div class='socials'>
						<a target="_blank" href="https://www.facebook.com/jeremiahlena13"><img src={%
								static 'images/facebook.png' %}></a>
						<a target="_blank" href="https://mobile.facebook.com/jeremiah.lena.3"><img src={%
								static 'images/twitter.png' %}></a>
						<a target="_blank" href="https://www.linkedin.com/in/jeremiah-lena-790755184/"><img src={%
								static 'images/linkedin.svg' %}></a>
					</div>
					<div class="resumeDownload">
						<button class = "resumeDownload__button" role ="link">
							<a href = {% url 'download_resume' %}>DOWNLOAD RESUME</a>
						</button>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">Some of my recent projects</h3>
			{% include 'port/projects.html' %}
		</div>
	</section>

	<section class="s2">
		<div class="main-container">
			<h3 style="text-align: center;">Get In Touch</h3>

			<form id="contact-form" action="https://www.gmail.com" method="POST" autocomplete="off">
				<a name="contact"></a>

				<div class="form-field">
					<label>Name</label>
					<input class="input-field" type="text" name="name" required>
					<div class="border"></div>
				</div>

				<div class="form-field">
					<label>Subject</label>
					<input class="input-field" type="text" name="subject" required>
					<div class="border"></div>
				</div>

				<div class="form-field">
					<label>Email</label>
					<input class="input-field" type="text" name="email" required>
					<div class="border"></div>
				</div>

				<div class="form-field">
					<label>Message</label>
					<textarea class="input-field" name="message" required></textarea>
					<div class="border"></div>
				</div>

				<input id="submit-btn" type="submit" value="Send">
			</form>
		</div>
	</section>
	<section id='footer'>
		&copy;2021 Designed by Jeremiah Lena
	</section>
	<script type="text/javascript" src={% static 'script.js' %}></script>
</body>
{% endblock body %}