{% load static %}
<div class="post-wrapper">
  {% for project in projects %}
    <div class="post">
      <a href={% url 'project' project.slug%}>
        <img class="thumbnail" src={{project.main_image.publicUrl}}>
        <br/>
        <div class="post-preview">
          <h6 class="post-title">{{project.title.upper}}</h6>
          <p class="post-intro">{{project.details}}</p>
        </div>
      </a>
    </div>
  {% empty %}
  <h4 style = 'text-align:center'>Nothing Here... Come Back later</h4>
  {% endfor %}
  </div>
  <div>
    {% if user.username == 'admin' %}
      <a href = {% url 'new_project' %}>Add Project</a>
    {% endif %}
</div>