{% extends 'port/layout.html' %}
{% load static %}
{% block body %}
<body>

	<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>Hi, I'm Lena Jeremiah</h1>
			</div>


			<div class="intro-wrapper">
				<div class="nav-wrapper">

					<!-- Link around dots-wrapper added after tutorial video -->
					<a href="index.html">
						<div class="dots-wrapper">
							<div id="dot-1" class="browser-dot"></div>
							<div id="dot-2" class="browser-dot"></div>
							<div id="dot-3" class="browser-dot"></div>
						</div>
					</a>
					

					<ul id="navigation">
						<li><a href="index.html#contact">Contact</a></li>

					</ul>
				</div>

				<div class="left-column">
					<img id="profile_pic" src={% static 'images/jerry.jpg' %}>
					<div class="profile_pic"></div>
					<h5 style="text-align: center;line-height: 0;">Personalize Theme</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="pink" id="pink-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>

					<p id="settings-note">*Theme settings will be saved for<br>your next vist</p>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>I'm a fullstack web developer. I create responsive and highly scalable web applications with attractive and catchy user interface as well as a secure and sophisticated backend</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="s2">
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h4>More about me</h4>

					<p>I build new projects just to tickle my brain and love teaching others how they're made.</p>

					<p>Out of quest for more knowledge about programming and web development in particular, I take projects that are higher than my level of expertise and still end up completing it well.</p>

					<hr>

					<h4>TOP EXPERTISE</h4>

					<p>Fullstack developer with primary focus on Vanilla JavaScript & Django</p>

					<div id="skills">
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>Bootstrap</li>
							<li>Vanilla JavaScript</li>
							<li>React</li>
						</ul>

						<ul>
							<li>Django</li>
							<li>MySQL</li>
							<li>API</li>
							<li>Git</li>
							<li>GitHub</li>
						</ul>

					</div>

				</div>

				
				<div class="social-links">
					<img id="social_img" src={% static 'images/desktop wallpaper.jpg' %}>
					<h3>Find me on Facebook & Twitter</h3>

					<a target="_blank" href="https://www.youtube.com/c/dennisivy">Facebook: @Lena Jeremiah</a>
					<br>
					<a target="_blank" href="https://twitter.com/jeremiahlena13">Twitter: @jeremiahlena13</a>
				</div>
			</div>

		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">Some of my recent projects</h3>
			{% include 'port/projects.html' %}
		</div>
	</section>

	<section class="s2">
		<div class="main-container">
			<a href=""></a>
			<h3 style="text-align: center;">Get In Touch</h3>

			<form id="contact-form" action="https://www.gmail.com" method = "POST" autocomplete="off">
				<a name="contact"></a>

				<div class="form-field">
					<label>Name</label>
					<input class="input-field" type="text" name="name" required>
					<div class="border"></div>
				</div>

				<div class="form-field">
					<label>Subject</label>
					<input class="input-field" type="text" name="subject" required>
					<div class="border"></div>
				</div>

				<div class="form-field">
					<label>Email</label>
					<input class="input-field" type="text" name="email" required>
					<div class="border"></div>
				</div>

				<div class="form-field">
					<label>Message</label>
					<textarea class="input-field" name="message" required></textarea>
					<div class="border"></div>
				</div>

				<input id="submit-btn" type="submit" value="Send">
			</form>
		</div>
	</section> 
	<script type="text/javascript" src = {% static 'script.js' %}></script>
	</body>
{% endblock body %}
